@charset "utf-8";
/* CSS Document */
    body{
        font-size:15px;
        cursor:default;
        position: relative;
        /* padding-top: 700px; */
        background: #FFFFFF;
        font-family:-apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
    }

/* a peizhi */
    a {
   outline: 0;
   /* font-family:-apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif; */
  }
  /* unvisited link */
  a:link {
      color: darkblue;
  }
  /* visited link */
  a:visited {
      color: darkred;
  }
  /* mouse over link */
  a:hover {
      color: blue;
  }
  /* selected link */
  a:active {
      color: black;
  }
  
	a:focus{
	outline:0;
	}
  
  i { cursor:pointer } 
  
  p{
      font-family:-apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
      
  }
  
.md-dialog {
  width: 900px;
}

.md-dialog-content {
  width: 900px;
}

.top-input{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.ui-autocomplete {
     z-index: 9999 !important;
}