<div>
    <div class="panel panel-info">
    <div class="panel-heading">
	<strong>sample browse</strong>
    </div>
    <div class="panel-body">
    <table class="table table-hover table-striped" style="width:100%;max-height:400px;overflow:scroll;">
        <thead>
            <tr class="success">
            <th>Source</th>
            <th>Cell line</th>
            <th>EV type</th>
            <th>Disease</th>
            <th>Sample NO.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='s in browse'>
                <td>{$ s.source $}</td>
                <td>{$ s.cellline $}</td>
                <td>{$ s.mv_exo $}</td>
                <td>{$ s.desease $}</td>
                <td><a href="#!?sample={$ s.sample_num $}" >{$ s.sample_num $}</a></td>
                <!--add sample run info--!>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>
<div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<strong>mirna browse</strong>
		</div>
		<div class="panel-body">
			<span ng-repeat="mirna in mirnabrowse">
				<span>{$ mirna $}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</span>
		</table>
		</div>
	</div>
</div>
