<div class="container-fluid">
    <div class="panel panel-info">
    <div class="panel-heading">
	<strong>Sample browse</strong>
    </div>
    <div class="panel-body">
    <div class="table-responsive"  style="height:auto;max-height:400px;overflow:scroll;">
    <table class="table table-hover table-striped">
        <thead>
            <tr class="success">
            <th>Source</th>
            <th>Cell line</th>
            <th>EV type</th>
            <th>Disease</th>
            <th>Sample NO.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='s in browse'>
                <td>{$ s.source $}</td>
                <td>{$ s.cellline $}</td>
                <td>{$ s.mv_exo $}</td>
                <td>{$ s.desease $}</td>
                <td><a href="#!?sample={$ s.sample_num $}" >{$ s.sample_num $}</a></td>
                <!--add sample run info--!>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>
</div>
<div>
<div class="panel panel-info">
		<div class="panel-heading">
					<strong>miRNA browse</strong>
		</div>
        <div class="panel-body">
		<form class="form-inline">
		 <div class="form-group">
			<label for="inputmirna">Input miRNA ID:</label>
			<input type="text"  class="form-control" id="inputmirna" ng-model="query_mirna">
			<button type="submit" class="btn btn-primary" ng-click="filter_mirna()">Search</button>
			</div>
		</form>
		<hr/>
		<div class="table-responsive">
			<table class="table table-hover table-responsive table-condensed table-striped">
             		<div class="col-xs-7"
                                paging
                                page="currentPage"
                                page-size=20
                                total="records_number"
                                scroll-top="true"
                                hide-if-empty="true"
                                show-prev-next="true"
                                show-first-last="true"
                                text-title-page="Page {page} Hover Over"
                                text-title-first="First hover"
                                text-title-last="Last hover"
                                text-title-next="Next hover"
                                text-title-prev="Prev hover"
                                show-prev-next="true"
                                show-first-last="true"
                                ul-class="pagination"
                                active-class="active"
                                disabled-class="disabled"
                                paging-action="update_page('test',page,page-size,total)"
                        >
                        </div>
				<thead>
				    <tr class="success">
					<th>ID</th>
				    </tr>
                			</thead>
                			<tbody>
						<tr ng-repeat="mirna in mirnabrowse">
							<td><a href="#!miRNA_info?miRNA={$ mirna.mirna $}" target="_self">{$ mirna.mirna $}</a></td>
						</tr>
                			</tbody>
			</table>
		</div>
        </div>
</div>
