<div class="fhead">
    <div class="container" style="padding-top:33px">
    <span   style="font-size:30px"><b style="color:red">EVmiRNA:</b> <span><span style="color:white">The Extracellular Vesicles miRNA Database</span>
    </div>
</div>

<div class="container">
    <p>Extracellular vesicles (EVs) released by living cells include exosomes and microvesicles (MVs), which contain various molecules from parental cells and are potential sources for disease diagnostic and therapeutic biomarkers. miRNA is the most well-studied molecule type in EVs because of its important functions and biomarker properties. Thus, we build the Extracellular Vesicles miRNA database (EVmiRNA) to collect comprehensive miRNA expression profiles in EVs.</p>
    <p>In EVmiRNA database, we analyzed 462 smRNA sequencing datasets of EVs from 17 tissues/diseases. The miRNA expression profiles, miRNA regulated pathways, miRNA function, miRNA related drugs and publications are showed to support the miRNA biomarker discovery.</p>

     <h3 class="page-header">
     Abstract figure
    </h3>
        <img src="/static/EVmiRNA/image/zm.png" width="90%"  class="img-responsive" >
        
    <h3 class="page-header">
         Usage
    </h3>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a href="#!/browse" ><img  src="/static/EVmiRNA/image/h1.png" alt="Samples"></a>
                <div class="caption">
                    <a href="#!/browse" ><h4 align="center">Sources Browse</h4></a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a href="#!/mirnalist" ><img  src="/static/EVmiRNA/image/h3.png" alt="Download"></a>
                <div class="caption">
                    <a href="#!/mirnalist" ><h4 align="center">miRNAs Browse</h4></a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a href="#!/special" ><img  src="/static/EVmiRNA/image/h2.png" alt="Specific miRNAs"></a>
                <div class="caption">
                    <a href="#!/special" ><h4 align="center">Specific miRNAs Browse</h4></a>
                </div>
            </div>
        </div>        
        
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a href="#!/search" ><img  src="/static/EVmiRNA/image/h4.png" alt="Specific miRNAs"></a>
                <div class="caption">
                    <a href="#!/search" ><h4 align="center">Search</h4></a>
                </div>
            </div>
        </div>
        
    </div>
    </div>
  <!--   <div class="panel panel-info">
		<div class="panel-heading">
			<strong> RNA ratio in each sample</strong>
		</div>
        <div class="panel-body">
             		<div class="col-lg-7"
                                paging
                                page="currentPage"
                                page-size=15
                                total="records_number"
                                scroll-top="true"
                                hide-if-empty="true"
                                show-prev-next="true"
                                show-first-last="true"
                                text-title-page="Page {page} Hover Over"
                                text-title-first="First hover"
                                text-title-last="Last hover"
                                text-title-next="Next hover"
                                text-title-prev="Prev hover"
                                show-prev-next="true"
                                show-first-last="true"
                                ul-class="pagination"
                                active-class="active"
                                disabled-class="disabled"
                                paging-action="update_page('test',page,page-size,total)"
                        >
                        </div>
			<table class="table table-hover table-condensed table-striped">
				<thead>
				    <tr class="success">
					<th >Sample</th>
					<th >rRNA</th>
					<th >snRNA</th>
					<th >tRNA</th>
					<th >piRNA</th>
                    <th>snoRNA</th>
                    <th >known_miRNA</th>
                    <th >unann</th>
				    </tr>
                </thead>
                <tbody>
					<tr ng-repeat="item in sample_RNA_ratio_list">
						<td>{$ item.Sample $}</td>
						<td>{$ item.rRNA $}</td>
						<td>{$ item.snRNA $}</td>
						<td>{$ item.tRNA $}</td>
						<td>{$ item.piRNA $}</td>
                        <td>{$ item.snoRNA $}</td>
                        <td>{$ item.known_miRNA $}</td>
                        <td>{$ item.unann $}</td>
					</tr>
                </tbody>
			</table>
        </div>
	</div>




    <div class="panel panel-info">
	<div class="panel-heading">
		<strong>sample run</strong>
	</div>
	<div class="panel-body">
		<table class="table-borderd tagble-striped table-condensed text-center">
			<thead>
				<tr>
					<th class="col-md-3 text-center">Sample NO.</th>
					<th class="col-md-3 text-center">Sample_id</th>
					<th class="col-md-3 text-center">Run</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in runlist">
					<td>{$ item.sample $}</td>
					<td>{$ item.id $}</td>
					<td><a href="https://www.ncbi.nlm.nih.gov/sra/?term={$ item.Run $}" >{$ item.Run $} </a> </td>
				</tr>
			</tbody>
		</table>
	</div>
    </div>
 -->

</div>
