<div class="panel panel-info">
	<div class="panel-heading">
		<strong>
			Basic information of miRNA: {$ query_miRNA $}
		</strong>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal" ng-repeat="miRNA in mirna_basic_list">
		<dt>id:</dt>
                <dd>{$ miRNA.mirna $}</dd>
                <dt>accession:</dt>
                <dd>{$ miRNA.accession $}</dd>
                <dt>mature sequence:</dt>
                <dd style="word-wrap:break-word;"><strong><span id="sequence">{$ miRNA.sequence $}</span></strong></dd>
                <dt>precursor:</dt>
                <dd>{$ miRNA.premirna $}</dd>
				<dt>position:</dt>
				<dd>{$ miRNA.start $} - {$ miRNA.end $}</dd>
				<dt>family:</dt>
				<dd>{$ miRNA.family $}</dd>
				<dt>pre-miR sequence:</dt>
                <dd style="word-wrap:break-word">{$ miRNA.pre_seq $}</dd>
			</dl>
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<strong>
				pathway
			</strong>
		</div>
		<div class="panel-body">
			<div style="overflow:scroll;width:100%;height:300px;">
				<table class="table table-bordered table-striped" style="table-layout:fixed;">
					<thead>
					<tr>
						<th class="col-xs-1">kegg id</th>
						<th class="col-xs-4">gene</th>
						<th class="col-xs-3">kegg description</th>
						<th class="col-xs-2">p value</th>
						<th class="col-xs-2">possibility</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in mirna_pathway_list">
					<td>{$ item.kegg $}</td>
					<td style="word-wrap:break-word;">{$ item.is_gene $}</td>
					<td>{$ item.kegg_dscp $}</td>
					<td>{$ item.pvalue $}</td>
					<td>{$ item.possibility $}</td>
					</tr>
					</tbody>
				</table> 
			</div>
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<strong>
				expression
			</strong>
		</div>
		<div class="panel-body">
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<strong>
				target
			</strong>
		</div>
		<div class="panel-body ">
			<div style="overflow:auto;width:100%;height:300px">
				<table class="table text-center table-bordered table-striped table-condensed" >
				<thead>
				<tr>
					<th class="col-md-2 text-center">target chromosome</th>
					<th class="col-md-3 text-center" >target start</th>
					<th class="col-md-3 text-center">target end</th>
					<th class="col-md-2 text-center">target symbol</th>
					<th class="col-md-2 text-center">type</th>
				    </tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in mirna_target_list  track by $index">
						<td>{$ item.target_chr $}</td>
						<td>{$ item.target_start $}</td>
						<td>{$ item.target_end $}</td>
						<td>{$ item.target_symbol $}</td>
						<td>{$ item.p_v $}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<strong>
				pubmed infomation:
			</strong>
		</div>
		<div class="panel-body">
			<div style="overflow:auto;width:100%;height:200px;">
				<table class="table table-bordered table-striped table-condensed">
				<thead>
				<tr>
					<th>PMID</th>
					<th>title</th>
					<th>journal</th>
					<th>year</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in mirna_pubmed_list">
					<td>{$ item.PMID $}</td>
					<td>{$ item.title $}</td>
					<td>{$ item.journal $}</td>
					<td>{$ item.year $}</td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
