<div class="panel panel-success">
	<div class="panel-heading">
		<strong>
			Basic information of miRNA: {$ query_miRNA $}
		</strong>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal" ng-repeat="miRNA in mirna_basic_list">
		<dt>id:</dt>
                <dd>{$ miRNA.mirna $}</dd>
                <dt>accession:</dt>
                <dd>{$ miRNA.accession $}</dd>
                <dt>mature sequence:</dt>
                <dd style="word-wrap:break-word;"><strong>{$ miRNA.first_base $}<span style="color:red;">{$ miRNA.two_to_eight $}</span>{$ miRNA.the_remaining $}</strong></dd>

                <dt>precursor:</dt>
                <dd>{$ miRNA.premirna $}</dd>
		<dt>position:</dt>
		<dd>{$ miRNA.start $} - {$ miRNA.end $}</dd>
		<dt>family:</dt>
		<dd>{$ miRNA.family $}</dd>
		<dt>pre-miR sequence:</dt>
                <dd style="word-wrap:break-word">{$ miRNA.pre_seq $}</dd>
		</dl>
	</div>
</div>
	<div class="panel panel-info" id="target">
		<div class="panel-heading">
			<strong> miRNA target information</strong>
		</div>
		<div class="panel-body ">
			<div class="col-lg-7"
     				paging
     				page="currentPage"
     				page-size=30
     				total="records_number"
     				scroll-top="true"
     				hide-if-empty="true"
     				show-prev-next="true"
     				show-first-last="true"
     				text-title-page="Page {page} Hover Over"
     				text-title-first="First hover"
     				text-title-last="Last hover"
     				text-title-next="Next hover"
     				text-title-prev="Prev hover"
     				show-prev-next="true"
    				show-first-last="true"
     				ul-class="pagination"
     				active-class="active"
     				disabled-class="disabled"
     				paging-action="update_page('test',page,page-size,total)"
			>
			</div>
			<div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>Sorry, your query item is not exist.</strong>
			</div>
			<table class="table text-center table-bordered table-striped table-hover table-responsive tablesorter tablesorter-bootstrap table-condensed" ng-show="mirna_target_list.length" data-striped="true" ts-wrapper >
				<thead>
				<tr>
					<th class="col-md-2 text-center" ts-criteria="target chromosome">target chromosome</th>
					<th class="col-md-3 text-center" >target start</th>
					<th class="col-md-3 text-center">target end</th>
					<th class="col-md-2 text-center">target symbol</th>
					<th class="col-md-2 text-center">type</th>
				    </tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in mirna_target_list  track by $index" ts-repeat>
						<td>{$ item.target_chr $}</td>
						<td>{$ item.target_start $}</td>
						<td>{$ item.target_end $}</td>
						<td>{$ item.target_symbol $}</td>
						<td>{$ item.p_v $}</td>
					</tr>
					</tbody>
			</table>
			<div paging  class="col-lg-7"
				     page="currentPage"
				     page-size=30
				     total="records_number"
				     scroll-top="true"
				     hide-if-empty="true"
				     show-prev-next="true"
				     show-first-last="true"
				     text-title-page="Page {page} Hover Over"
				     text-title-first="First hover"
				     text-title-last="Last hover"
				     text-title-next="Next hover"
				     text-title-prev="Prev hover"
				     show-prev-next="true"
				     show-first-last="true"
				     ul-class="pagination"
				     active-class="active"
				     disabled-class="disabled"
				     paging-action="update_page('test',page,page-size,total)"
				>
			</div>
		</div>
	</div>
	<div class="panel panel-info" id="expression">
		<div class="panel-heading">
			<strong>expression</strong>
		</div>
		<div class="panel-body">
		<div>
			<div class="btn-group btn-group-justified" role="group">
					<div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" class="source" ng-click="draw_exp_source()">Source</button>
					</div>
					<div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" class="source_mv" ng-click="draw_source_mv()">Source_mv_exo</button>
					</div>
					<div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"  class="cancer" ng-click="draw_exp_cancer()">Cancer</button>
					</div>
					<div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" class="cellline" ng-click="draw_celline()">cell line</button>
					</div>
                        </div>
			<div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" class="source" ng-click="expSourceBox()">Source Box</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" class="source_mv" ng-click="expSourcemvBox()">Source_mv_exo Box</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"  class="cancer" ng-click="expCancerBox()">Cancer Box</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" class="cellline" ng-click="expCelllineBox()">Cell line Box</button>
                                        </div>
                        </div>
			<button  type="button" class="btn btn-default" ng-click="add()">add outliner value</button>
                        <div class="row">
                                <div id="barContainer"  style="height:500px;text-align:center;"></div>
                        </div>

		</div>
		</div>
	</div>
		<div id="pathway" class="panel panel-info">
		<div class="panel-heading">
			<strong>pathway information</strong>
		</div>
		<div class="panel-body">
			<div style="overflow:scroll;width:100%;height:auto;max-height:500px;">
				<table class="table table-bordered table-striped" style="table-layout:fixed;">
					<thead>
					<tr>
						<th class="col-xs-1">kegg id</th>
						<th class="col-xs-4">gene</th>
						<th class="col-xs-3">kegg description</th>
						<th class="col-xs-2">p value</th>
						<th class="col-xs-2">possibility</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in mirna_pathway_list">
					<td><a href="http://www.kegg.jp/kegg-bin/show_pathway?{$ item.kegg $}" target="_blank" class="col">{$ item.kegg $}</a></td>
					<td style="word-wrap:break-word;">{$ item.is_gene $}</td>
					<td>{$ item.kegg_dscp $}</td>
					<td>{$ item.pvalue $}</td>
					<td>{$ item.possibility $}</td>
					</tr>
					</tbody>
				</table> 
			</div>
		</div>
	</div>
	<div class="panel panel-info" id="publication">
		<div class="panel-heading">
			<strong>publication</strong>
		</div>
		<div class="panel-body">
			<div style="width:100%;height:500px;overflow:scroll;">
				<ol>
					<li ng-repeat="item in mirna_pubmed_list">
					<a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={$ item.PMID $}" class="col" target="_blank"><strong>{$ item.title $}</strong></a><br>
					PMID:{$ item.PMID $}&nbsp;&nbsp;&nbsp;&nbsp;{$ item.journal $}&nbsp;&nbsp;{$ item.year $}<br>
					</li>
				</ol>
			</div>
		</div>
	</div>
