<div ng-show="one">
	<div class="panel panel-success">
		<div class="panel panel-heading">
			<strong>Source:{$ source $}</strong>
		</div>
		<div class="panel panel-body">
			<div id="sourceContainer" style="height:300px;width:100%;"></div>
			<hr/>
			<div class="panel panel-default">
				<div class="panel-body bg-info">
					<span style="color:Indigo;"><strong>You may be interested in:</strong></span><br><span ng-repeat="item in interestlist"><a href="#!miRNA_info?miRNA={$ item $}" target="_blank">{$ item $}</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</div>
			</div>
			<hr/>
			<div style="height:600px;width:100%;overflow:scroll;">
			<table class="table table-striped table-condensed table-hover">
				<thead>
				<tr class="success" style="font-size:large;">
				<th>#</td>
				<th>miRNA</th>
				<th>expression</th>
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in sourceexplist">
						<td>{$ $index+1 $}</td>
						<td><a href="#!miRNA_info?miRNA={$ item.mirna $}" target="_blank">{$ item.mirna $}</a></td>
						<td>{$ item.expression $}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
<div ng-show="two">
	<div class="panel panel-success">
		<div class="panel panel-heading">
			<strong>Cell Line:{$ cellline $}</strong>
		</div>
		<div class="panel panel-body">
			<div id="celllineContainer" style="height:300px;width:100%;"></div>
			<hr/>
			<div class="panel panel-default">
                                <div class="panel-body bg-info">
                                        <span style="color:Indigo;"><strong>You may be interested in:</strong></span><br><span ng-repeat="item in interestlistcl"><a href="#!miRNA_info?miRNA={$ item $}" target="_blank">{$ item $}</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </div>
                        </div>
                        <hr/>
			<div style="height:600px;width:100%;overflow:scroll;">
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr class="success" style="font-size:large;">
						<th>#</th>
						<th>miRNA</th>
						<th>expression</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in celllinelist">
						<td>{$ $index+1 $}</td>
						<td><a href="#!miRNA_info?miRNA={$ item.mirna $}" target="_blank">{$ item.mirna $}</a></td>
						<td>{$ item.expression $}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
<div ng-show="three">
	<div class="panel panel-success">
		<div class="panel panel-heading">
			<strong>Desease:{$ desease $}</strong>
		</div>
		<div class="panel panel-body">
			<div id="deseaseContainer" style="height:300px;width:100%;"></div>	
			<hr/>
			<div class="panel panel-default">
                                <div class="panel-body bg-info">
                                        <span style="color:Indigo;"><strong>You may be interested in:</strong></span><br><span ng-repeat="item in interestlistds"><a href="#!miRNA_info?miRNA={$ item $}" target="_blank">{$ item $}</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </div>
                        </div>
                        <hr/>
			<div style="height:600px;width:100%;overflow:scroll;">
			<table class="table table-striped table-condensed table-hover">
				<thead>
					<tr class="success" style="font-size:large">
						<th>#</th>
						<th>miRNA</th>
						<th>expression</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in deseaselist">
						<td>{$ $index+1 $}</td>
						<td><a href="#!miRNA_info?miRNA={$ item.mirna $}" target="_blank">{$ item.mirna $}</a></td>
						<td>{$ item.expression $}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>			
