<!--<div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Sorry, your query item is not exist.</strong>
</div>-->

<div class="panel panel-info">
	<div class="panel-heading">
		<strong>miRNA</strong>
	</div>
	<div class="panel-body">
		<form class="form-inline">
			<div class="form-group ui-widget">
				<label class="control-label" for="mirnaid">ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="text"  id="mirnaid" class="form-control" ng-model="query_miRNA">
				<button type="submit" class="btn btn-primary" ng-click="filter_id()">search</button>
				<label class="control-label" for="mirnaid">Input a miRNA id as ' miR-204-5p'</label>
			</div>
		</form>
		<br/>
		<form class="form-inline">
			<div class="form-group">
				<label class="control-label" for="mirnafam">Family</label>
					<input type="text" id="mirnafam" class="form-control" ng-model="query_fam">
					<button class="btn btn-primary" ng-click="filter_fam()">search</button>
					<label class="control-label" for="mirnafam">Input a miRNA family as 'miR-495-3p'</label>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Sample</strong>
	</div>
	<div class="panel-body">
		<form class="form-inline">
			<div class="form-group">
			<label class="control-label" for="query_cell_line">Cell Line</label>
				<select class="form-control selectpicker show-menu-arrow" id="query_cell_line" name="select_cellline"  ng-model="query_cellline">
	                        <option>SCC-9</option>
				<option>MDA-MB-231</option>
				<option>Bjab</option>
				<option>MCF7</option>
				<option>LIM1863</option>
				<option>MCF10A</option>
				<option>B-lymphoblastoid cell lines</option>
				<option>TY-1</option>
				<option>K562</option>
				<option>BJAB</option>
				<option>Adipose Mesenchymal Stem Cells</option>
				<option>Umbilical cord Mesenchymal Stem Cells</option>
				<option>Fetus Mesenchymal Stem Cells</option>
				<option>Blood</option>
				<option>HMC-1</option>
				<option>Saliva</option>
				<option>Fibroblasts</option>
				<option>Seminal fluid</option>
				<option>Adult Mesenchymal Stem Cells</option>
				<option>DLD-1</option>
				<option>DKO-1</option>
				<option>DKs-8</option>
				<option>HEK293T</option>
				<option>HMEC</option>
				<option>Urine</option>
				<option>CLL cell line</option>
				<option>Cal-27</option>
				<option>BCBL-1</option>
				<option>Breast milk</option>
				<option>LCL</option>
				<option>Mutu-1</option>
	                	</select>
	                	<button class="btn btn-primary" ng-click="filter_cell_line()">search</button>
			<label class="control-label" for="query_cell_line">Select a cell line</span>
	    	</div>
		</form>
		<br/>
		<form class="form-inline">
		<div class="form-group">
			<label class="control-label" for="querysource">Source</label>
				<select class="form-control selectpicker show-menu-arrow" id="querysource" ng-model="query_source" name="select_source">
	                        <option >Fibroblasts</option>
	                        <option >Urine</option>
	                        <option >Human epithelial cells</option>
	                        <option >Saliva</option>
	                        <option >Seminal fluid</option>
	                        <option >Mesenchymal Stem Cells</option>
	                        <option >CLL cell line</option>
	                        <option >Human Mammary Epithelial Cells</option>
	                        <option >B-lymphoblastoid cell lines</option>
	                        <option >Colon</option>
	                        <option >Breast</option>
	                        <option >Breast milk</option>
	                        <option >Human mast cells</option>
	                        <option >Tongue</option>
	                        <option >Lymph</option>
	                        <option >Kidney</option>
	                        <option >Blood</option>
	                	</select>
	                	<button class="btn btn-primary" ng-click="filter_source()">search</button>
			<label class="control-label" for="querysource">Select source</label>
	    </div>
		</form>
	    <br/>
	    <form class="form-inline">
	    <div class="form-group">
		<label class="control-label" for="querydisease">Cancer</label>
			<select class="form-control selectpicker show-menu-arrow" id="querydisease" name="select_disease" ng-model="query_desease">
				<option>Squamous cell carcinoma</option>
        			<option>Prostate Cancer</option>
        			<option>Mast cell leukemia</option>
        			<option>chronic myelocytic leukemia</option>
        			<option>Breast adenocarcinoma</option>
        			<option>Colon carcinoma</option>
        			<option>Chronic lymphocytic leukemia</option>
        			<option>Oral cancer</option>
        			<option>Healthy Control</option>
        			<option>Pancreatic Cancer</option>
        			<option>Lymphoma</option>
			</select>
			<button class="btn btn-primary" ng-click="filter_desease()">search</button>
		<label class="control-label" for="querydisease">Select cancer</span>
	    </div> 
	   </form>
	</div>
</div>

