<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>miRNA</strong>
		</div>
		<div class="panel-body">
			<div>
				<form>
					<div class="form-group form-inline ui-widget">
						<label  for="mirnaid">miRNA id</label>
						<input type="text"  id="mirnaid" class="form-control" ng-model="query_miRNA">
						<button class="btn btn-default" ng-click="filter_id()">search</button>
					</div>
				</form>
			</div>
			<div>
			<form>
				<div class="form-group form-inline">
					<label class="control-label"> cell line</label>
					<select class="form-control selectpicker show-menu-arrow" id="query_cell_line" name="select_cellline"  ng-click="filter_cell_line()">
	                        <option >urine</option>
	                        <option >SCC-9</option>
	                        <option >seminal fluid</option>
	                        <option >Saliva</option>
	                        <option >MDA-MB-231</option>
	                        <option >Lymphoblastoid</option>
	                        <option >Mutu-1</option>
	                        <option >BJAB</option>
	                        <option >TY-1</option>
	                        <option >LCL</option>
	                        <option >Bjab</option>
	                        <option >BCBL-1</option>
	                        <option >LIM1863</option>
	                        <option >HEK293T</option>
	                        <option >HEK294T</option>
	                        <option >K562</option>
	                        <option >iNFPAs</option>
	                        <option >HMC-1</option>
	                        <option >HMEC</option>
	                        <option >HepG2</option>
	                        <option >DLD-1</option>
	                        <option >DKs-8</option>
	                        <option >DKO-1</option>
	                        <option >LIM186</option>
	                        <option >CLL cell line</option>
	                        <option >Cal-27</option>
	                        <option >breast milk</option>
	                        <option >MCF7</option>
	                        <option >MCF10A</option>
	                        <option >B lymphocytes</option>
	                        <option >blood</option>
	                        <option >Adipose Mesenchymal Stem Cells</option>
	                        <option >A431</option>
	                        <option >1833/MRC5</option>
	                </select>
	                <button class="btn btn-default" ng-click="filter_cell_line()">search</button>
	            </div>
	        </form>
	    	</div>
			<form>
				<div class="form-group form-inline">
					<label class="control-label"> source</label>
					<select class="form-control selectpicker show-menu-arrow" id="query_cell_line" name="select_source"  ng-click="filter_source()">
	                        <option >Fibroblasts</option>
	                        <option >Urine</option>
	                        <option >Human epithelial cells</option>
	                        <option >Saliva</option>
	                        <option >Seminal fluid</option>
	                        <option >Mesenchymal Stem Cells</option>
	                        <option >CLL cell line</option>
	                        <option >Human Mammary Epithelial Cells</option>
	                        <option >B-lymphoblastoid cell lines</option>
	                        <option >Colon</option>
	                        <option >Breast</option>
	                        <option >Breast milk</option>
	                        <option >Human mast cells</option>
	                        <option >Tongue</option>
	                        <option >Lymph</option>
	                        <option >Kidney</option>
	                        <option >Blood</option>
	                </select>
	                <button class="btn btn-default" ng-click="filter_source()">search</button>
	            </div>
	        </form>
	    </div>
    </div>
</div>
