<div class="fhead">
    <div class="container" style="padding-top:10px">
    <span   style="font-size:30px;color:white;"><b>Specific miRNA</b> </span><br>
    <span style="color:white;font-size:20px">Identify Specific miRNAs of Sources and Cancer types by <a href="http://bioinfo.life.hust.edu.cn/SEGtool/" target="_blank" style="color:#7ACCC8">SEGtool</a></span>
    </div>
</div>

<br>
<br>
<div class="container" style="height:auto;">

<style type="text/css">

.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 5px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }


.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    /* background: #f6f6f6; */
    border: 0px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
    .md-tab{text-transform: none;
           font-weight: bold;
    }
    .wrapper {
      width: 100%;
    }
    .wrapper .content {
      background-color:  transparent !important;
    }
    /* .wrapper .content .tab > img {
      width: 100%;
    } */
    .wrapper .content .tick {
      /* position: absolute;
      right: -82.8px;
      top: 0;
      width: 72px;
      height: 72px; */
      background-color: white;
      /* -webkit-transform: rotate(45deg);
              transform: rotate(45deg); */
    }
    /* .wrapper .content .tab:nth-child(2) > .tick {
      top: 72px;
    }
    .wrapper .content .tab:nth-child(3) > .tick {
      top: 144px;
    }
    .wrapper .content .tab:nth-child(4) > .tick {
      top: 216px;
    } */
    .wrapper .sidebar {
      background-color: #F2F2F2;
    }
    .wrapper .sidebar .label {
      height: 20px;
      width:100%;
      /* color: white; */
      cursor: pointer;
      outline: none;
      /* text-transform: none; */
     font-weight: bold;
     font-size: 13px;
     color: black;
     /*text-align: left;*/
    }
    /* .wrapper .sidebar .label .md-icon-button {
      height: 72px;
      width: 72px;
    }
    .wrapper .sidebar .label .md-icon-button .fa {
      font-size: 18px;
    } */
    .wrapper .sidebar .active {
      background-color: lightgrey;
    }
    #tree {
        font-size: 14px;
    }
    .list-group-item {
        padding :0;
    }
</style>

<div class="row">
    <h4>Please click the EV source on the left manu to browse the specifically expressed miRNAs in that EV source.</h4>
    <br>
    <div class="col-lg-2">
        <div id="tree"></div>
    </div>
    <div class="col-lg-10">
        <div class="wrapper" id="spe" layout="row" ng-init="activeT1=true">
    	   <md-content layout-padding flex class="content">
    		  <div class="tab" id="activeT1">
            <table class="table table-bordered table-condensed">
              <tr class="tableh">Current Display: Breast Adenocarcinoma (MicroVesicles)</tr>
              <tr ng-repeat="i in Breast_adenocarcinoma_mv ">
                <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
              </tr>
          </table>
          </div>
    		  <div class="tab" id="activeT2"><!--id="activeT2"-->
            <table class="table table-bordered table-condensed">
              <tr class="tableh">Current Display: Colon Carcinoma (MicroVesicles)</tr>
              <tr ng-repeat="i in Colon_carcinoma_mv">
                <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
              </tr>
            </table>
          </div>
          <div class="tab" id="activeT3">
            <table class="table table-bordered table-condensed">
              <tr class="tableh">Current Display: Chronic Myelocytic Leukemia (MicroVesicles)</tr>
              <tr ng-repeat="i in chronic_myelocytic_leukemia_mv">
                <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
              </tr>
            </table>
          </div>
          <div class="tab" id="activeT3a">
            <table class="table table-bordered table-condensed">
              <tr class="tableh">Current Display: Prostate cancer (MicroVesicles)</tr>
              <tr ng-repeat="i in Prostate_cancer_mv">
                <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
              </tr>
            </table>
          </div>
          <div class="tab" id="activeT3b">
            <table class="table table-bordered table-condensed">
              <tr class="tableh">Current Display: Pancreatic cancer (MicroVesicles)</tr>
              <tr ng-repeat="i in Pancreatic_cancer_mv">
                <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
              </tr>
            </table>
          </div>
          <div class="tab" id="activeTab10">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Blood (MicroVesicles)</tr>
            <tr ng-repeat="i in Blood">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTab11">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Breast (MicroVesicles)</tr>
            <tr ng-repeat="i in Breast">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
        <div class="tab" id="activeTab12">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Colon (MicroVesicles)</tr>
            <tr ng-repeat="i in Colon">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
        <div class="tab" id="activeTab13">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Fibroblasts (MicroVesicles)</tr>
            <tr ng-repeat="i in Fibroblasts_mv">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
        <div class="tab" id="activeTab14">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Mesenchymal Stem Cells (MicroVesicles)</tr>
            <tr ng-repeat="i in Mesenchymal_Stem_Cells">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTab15">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Urine (MicroVesicles)</tr>
            <tr ng-repeat="i in Urine_mv">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTb1">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Breast Adenocarcinoma (Exosomes)</tr>
            <tr ng-repeat="i in Breast_adenocarcinoma">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTb2">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Colon Carcinoma (Exosomes)</tr>
            <tr ng-repeat="i in Colon_carcinoma">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
        <div class="tab" id="activeTb2b">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: CLL (Exosomes)</tr>
            <tr ng-repeat="i in CLL">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
        <div class="tab" id="activeTb3">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Lymphoma (Exosomes)</tr>
            <tr ng-repeat="i in Lymphoma">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
         <div class="tab" id="activeTb3b">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Lymphoma (Exosomes)</tr>
            <tr ng-repeat="i in Leukemia">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
        <div class="tab" id="activeTb4">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Oral Cancer (Exosomes)</tr>
            <tr ng-repeat="i in Oral_cancer">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
        <div class="tab" id="activeTb5">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Prostate Cancer (Exosomes)</tr>
            <tr ng-repeat="i in Prostate_Cancer">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTb6">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Squamous Cell Carcinoma (Exosomes)</tr>
            <tr ng-repeat="i in Squamous_cell_carcinoma">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb10">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Blood (Exosomes)</tr>
            <tr ng-repeat="i in Blood">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb11">
          <table class="table table-bordered table-condensed">
          <tr class="tableh">Current Display: Breast (Exosomes)</tr>
            <tr ng-repeat="i in Breast">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
        <div class="tab" id="activeTabb12">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Brease Milk (Exosomes)</tr>
            <tr ng-repeat="i in Breast_milk">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
        <div class="tab" id="activeTabb13">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Blymphoblastoid Cells (Exosomes)</tr>
            <tr ng-repeat="i in Blymphoblastoid_cells">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
          </table>
        </div>
        <div class="tab" id="activeTabb14">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Colon (Exosomes)</tr>
            <tr ng-repeat="i in Colon">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb15">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: CLL Cells (Exosomes)</tr>
            <tr ng-repeat="i in CLL_cells">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb16">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Human Epithelial Cells (Exosomes)</tr>
            <tr ng-repeat="i in Human_epithelial_cells">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb17">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Human Mammary Epithelial Cells (Exosomes)</tr>
            <tr ng-repeat="i in Human_Mammary_Epithelial_Cells">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb18">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Human Mast Cells (Exosomes)</tr>
            <tr ng-repeat="i in Human_mast_cells">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb19">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Kidney (Exosomes)</tr>
            <tr ng-repeat="i in Kidney">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb20">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Lymph (Exosomes)</tr>
            <tr ng-repeat="i in Lymph">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb21">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Mesenchymal Stem Cells (Exosomes)</tr>
            <tr ng-repeat="i in Mesenchymal_Stem_Cells">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb22">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Saliva (Exosomes)</tr>
            <tr ng-repeat="i in Saliva">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb23">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Seminal Fluid (Exosomes)</tr>
            <tr ng-repeat="i in Seminal_fluid">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
        <div class="tab" id="activeTabb24">
          <table class="table table-bordered table-condensed">
            <tr class="tableh">Current Display: Tongue (Exosomes)</tr>
            <tr ng-repeat="i in Tongue">
              <td ng-repeat="b in i"><a href=""  ng-click="pic(b)" target="_blank">{$ b $}</a></td>
            </tr>
        </table>
        </div>
    	 </md-content>
      </div>
    </div>
</div>

</div>
